//変数
$font-family-ja1: "Noto Sans JP", sans-serif;
$font-family-ja2: "Kiwi Maru", serif;
$font-family-en1: "Josefin Sans", sans-serif;
$font-family-en2: "Courgette", cursive;

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  md: "screen and (min-width:768px) ",
  tab: "screen and (min-width:768px) and (max-width:1024px) ",
  lg: "screen and (min-width:900px) ",
  pc: "screen and (min-width: 1200px)",
);
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
$color-main: #9ed0e0;
$color-sub1: #67b0c7;
$color-sub2: #cce1e4;
$color-sub3: #e9f6f8;
$acc-color1: #ce2073;
$acc-color2: #ffee56;
$font-color: #4a3636;

body {
  font-size: 12px;
  color: $font-color;
  font-family: $font-family-en1, $font-family-ja1, sans-serif;
  background-color: $color-sub3;
  line-height: 1.6;
}
/* ===============================================
# common
=============================================== */
.btn {
  //   height: 40px;
  padding: 6px 22px 8px 21px;
  border-radius: 40px;
  border: 2px solid $font-color;
  background: #fff;
  box-shadow: 0 4px 0 0 #4a3636;
  width: fit-content;
  display: inline-block;
  transition: background-color 0.3s;
  &:hover {
    background-color: $acc-color2;
  }
}

.inner {
  max-width: calc(100% - 20px * 2);
  margin-left: auto;
  margin-right: auto;
}
.section-heading {
  text-align: center;
}
.section-heading__img {
  img {
    width: 37.333px;
    @include mq("md") {
      width: 48px;
    }
  }
}
.section-heading__en {
  display: block;
  font-family: $font-family-en2;
  font-size: 16px;
  line-height: 125%;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    font-size: 20px;
    margin-top: 8px;
  }
}
.section-heading__ja {
  display: block;
  font-family: $font-family-ja2;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  padding-bottom: 12px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 6px;
  font-feature-settings: "pwid" on;
  @include mq("md") {
    font-size: 32px;
    margin-top: 8px;
    padding-bottom: 16px;
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background: $acc-color2;
    bottom: 0;
    left: 0;
    @include mq("md") {
      height: 8px;
    }
  }
}
.hidden-sp {
  @include mq("sp") {
    display: none;
  }
}
.hidden-pc {
  @include mq("md") {
    display: none;
  }
}
/* ===============================================
# header
=============================================== */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  // height: 64px;
  background-color: #fff;
  z-index: 10;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  gap: 16px;
  @include mq("md") {
    padding: 15px 24px 13px 25px;
  }
}

.header__logo {
  @include mq("md") {
    flex: auto;
  }
  img {
    width: 210px;
    @include mq("md") {
      width: 183px;
    }
  }
}

.header__drawer-icon {
  width: 32px;
  height: 24px;
  position: relative;
  z-index: 6;
  &.is-open {
    .drawer-icon__bar {
      &:nth-child(1) {
        width: 100%;
        top: 10px;
        transform: rotate(45deg);
        span {
          display: none;
        }
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        top: 10px;
        transform: rotate(-45deg);
      }
    }
  }
  @include mq("lg") {
    display: none;
  }
}
.drawer-icon__bar {
  position: absolute;
  height: 3px;
  background: #4a3636;
  border-radius: 3px;
  transition: transform 0.3s;
  &:nth-of-type(1) {
    width: 25.6px;
    top: 0;
    span {
      width: 4.8px;
      height: 3px;
      background: #4a3636;
      top: 0;
      position: absolute;
      left: 28px;
      border-radius: 3px;
    }
  }
  &:nth-of-type(2) {
    width: 100%;
    top: 10px;
  }
  &:nth-of-type(3) {
    width: 100%;
    top: 20px;
  }
}

.header__nav {
  display: none;
  @include mq("lg") {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
  }
}

.header__link {
  transition: color 0.3s;
  &:hover {
    color: $color-main;
    text-decoration: underline;
  }
}

.header__btn {
  display: none;
  @include mq("lg") {
    display: block;
    margin-left: 4px;
  }
  @include mq("md") {
    a {
      padding: 6px 22px 4px 21px;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.header__drawer {
  padding: 82px 30px 80px;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 20;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  transform: translateY(-120%);
  transition: transform 0.7s;
  &.is-open {
    transform: translateY(0);
  }

  @include mq("lg") {
    display: none;
  }
}

.header__drawer-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.header__drawer-link {
  font-size: 14px;
}

.header__drawer-btn {
  text-align: center;
  a {
    font-size: 16px;
    font-weight: 700;
  }
}

/* ===============================================
# fv
=============================================== */
.fv {
  //   width: 375px;
  height: 618px;
  background: url(../img/sp/Onomichi\ sp.png) no-repeat center center/cover;
  position: relative;
  border-radius: 0 0 24px 24px;
  padding-top: 64px;
  @include mq("md") {
    height: 804px;
  }
}

.fv__inner {
  max-width: calc(375px - 20px * 2);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
.fv__text {
  font-size: 14px;
  text-align: center;
  font-family: $font-family-ja2;
  line-height: 125%;
  margin-top: 17px;
  @include mq("md") {
    font-size: 24px;
    font-weight: 500;
    margin-top: 35px;
  }
}
.fv__leads {
  text-align: center;
  margin-top: 20px;
  @include mq("md") {
    margin-top: 24px;
  }
}
.fv__lead1,
.fv__lead2 {
  display: block;
}
.fv__lead1 {
  img {
    width: 335px;
    @include mq("md") {
      width: 520px;
    }
  }
}
.fv__lead2 {
  margin-top: 12px;
  @include mq("md") {
    margin-top: 16px;
  }
  img {
    width: 240px;
    @include mq("md") {
      width: 356px;
    }
  }
}
.fv__decoration {
  position: relative;
  height: 522px;
  margin-top: 12px;
  @include mq("md") {
    height: 603px;
    margin-top: -3px;
  }
}
.fv__smartphone {
  width: 200px;
  height: 408px;
  @include mq("md") {
    width: 250px;
    height: 510px;
  }
}
.fv__smartphone-wrapper {
  position: absolute;
  top: 103px;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;
  height: inherit;
  img {
    width: 200px;
    @include mq("md") {
      width: 250px;
    }
  }
  @include mq("md") {
    top: 36px;
  }
}

.fv__present {
  position: absolute;
  top: 0;
  right: 25px;
  @include mq("md") {
    top: 17px;
    right: auto;
    left: 50%;
    transform: translateX(117px);
  }
  img {
    width: 110px;
    @include mq("md") {
      width: 180px;
    }
  }
}
.fv__fukidashi {
  position: absolute;
  top: 7px;
  left: 0;
  @include mq("md") {
    top: -0px;
    left: auto;
    right: 50%;
    transform: translateX(-143px);
  }
  img {
    width: 142px;
    @include mq("md") {
      width: 244px;
    }
  }
}
.fv__sp-textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 12.8px;
  background-color: #fff;
  width: 160px;
  height: 154px;
  @include mq("md") {
    width: 200px;
    height: 194px;
  }
}
.fv__sp-title {
  background: linear-gradient(
    265deg,
    #ac3790 -3.52%,
    #d65a5c 44.94%,
    #f4c06d 92.38%
  );
  padding: 6.4px 9px;
  color: #fff;
  font-size: 12.8px;
  font-weight: 700;
  line-height: 160%;
  border-radius: 12.8px 12.8px 0 0;
  @include mq("md") {
    font-size: 16px;
    padding: 8px 12px;
  }
}
.fv__sp-period {
  margin-top: 12px;
  padding-inline: 9px;
  @include mq("md") {
    margin-top: 16px;
  }
}
.fv__sp-period1 {
  position: relative;
  padding-bottom: 3.2px;
  @include mq("md") {
    font-size: 14px;
    padding-bottom: 4px;
  }
  &::after {
    position: absolute;
    width: 100%;
    height: 2.4px;
    background: $acc-color1;
    content: "";
    bottom: 0;
    left: 0;
    @include mq("md") {
      height: 3px;
    }
  }
}
.fv__sp-period2 {
  margin-top: 4.4px;
  font-weight: 700;
  font-family: $font-family-ja1;
  //   font-size: 14px;
  display: block;
  @include mq("md") {
    margin-top: 4px;
    font-size: 16px;
  }
}
.fv__sp-btn {
  margin-top: 9.8px;
  a {
    font-weight: 700;
    font-size: 14px;
    padding: 6px 24px 8px 24px;
    height: 32px;
  }
  @include mq("md") {
    margin-top: 16px;
    a {
      font-size: 16px;
      padding: 6px 26px 8px;
    }
  }
}
.fv__food {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  @include mq("md") {
    bottom: 44px;
  }
  img {
    width: 86px;
    @include mq("md") {
      width: 202px;
    }
  }
}
.fv__cat1 {
  position: absolute;
  bottom: 58px;
  right: 0;
  //   z-index: 2;
  @include mq("md") {
    bottom: 104px;
    right: 63px;
  }
  img {
    width: 62px;
    @include mq("md") {
      width: 170px;
    }
  }
}
.fv__cat2 {
  position: absolute;
  bottom: 0;
  right: 9px;
  z-index: 2;
  @include mq("md") {
    bottom: 0;
    z-index: 3;
    right: 0;
  }
  img {
    width: 98px;
    @include mq("md") {
      width: 233px;
    }
  }
}

/* ===============================================
# about
=============================================== */
.about {
  margin-top: 156px;
  padding-top: 32px;
  overflow: hidden;
  position: relative;
  @include mq("md") {
    margin-top: 97px;
    padding-top: 80px;
  }
}
.about__inner {
  position: relative;
  @include mq("md") {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq("pc") {
    max-width: calc(848px + 30px * 2);
    padding-inline: 30px;
  }
}

.about__box {
  background-color: #fff;
  border-radius: 24px;
  padding: 40px 12px;
  position: relative;
  // z-index: 2;
  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 36px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    background: url(../img/about-arrow.png) no-repeat center center/contain;
    @include mq("md") {
      width: 140px;
      height: 50px;
    }
  }
}
.about__heading {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.about__pic1,
.about__pic2 {
  position: absolute;
  img {
    width: 80px;
    @include mq("md") {
      width: 134px;
    }
  }
}
.about__pic1 {
  transform: rotate(-8deg);
  top: -8px;
  left: -20px;
}
.about__pic2 {
  transform: rotate(8deg);
  top: -10px;
  right: -32.72px;
}
.about__textbox {
  text-align: center;
  margin-top: 24px;
}
.about__lead-sp {
  font-size: 14px;
  font-weight: 700;
}
.about__lead-pc {
  font-size: 16px;
  margin-top: 33px;
  font-weight: 700;
}
.about__text {
  margin-top: 25px;
  a {
    text-decoration: underline;
  }
  @include mq("md") {
    font-size: 16px;
    margin-top: 32px;
  }
  & + & {
    margin-top: 18px;
    @include mq("md") {
      margin-top: 28px;
    }
  }
  span {
    font-weight: 700;
  }
}
.about__text-end {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px dashed $color-main;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6px;
  margin-top: 31px;
  @include mq("md") {
    font-size: 20px;
    margin-top: 45px;
  }
}
.about__btn {
  margin-top: 24px;
  a {
    font-size: 16px;
    font-weight: 700;
  }
  @include mq("md") {
    margin-top: 32px;
    a {
      font-size: 20px;
      padding: 10px 40px 12px;
    }
  }
}
.about__arrow {
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 100px;
  }
}
.about__pawpads {
  // width: 54px;
  position: absolute;
  right: -20px;
  top: -10px;
  z-index: -1;
  @include mq("md") {
    right: -45px;
    top: -40px;
  }
  @include mq("pc") {
    top: -80px;
    right: calc(-166px / 848px * 100%);
  }

  img {
    width: 54px;
    @include mq("md") {
      width: 80px;
    }
    @include mq("pc") {
      width: 100px;
    }
  }
}
.about__onomichi {
  text-align: center;
  margin-top: 132px;
  @include mq("md") {
    margin-top: 165px;
  }
  img {
    width: 355px;
    @include mq("lg") {
      width: 700px;
    }
    @include mq("pc") {
      width: 891px;
    }
  }
}
.about-swiper__wrapper {
  transition-timing-function: linear !important;
  @include mq("md") {
    margin-top: -4px;
  }
}
.about-slide {
}
.about-slide__img {
  width: 100px;
  @include mq("md") {
    width: 200px;
  }
  img {
    // width: 150px;
    @include mq("md") {
      width: 200px;
    }
  }
}
.about__photo-r {
  position: absolute;
  left: 100%;
  top: 305px;
  transform: translateX(calc(140px - 100%));
  z-index: -1;
  @include mq("pc") {
    transform: translateX(calc(284px - 100%));
  }
  img {
    width: 200px;
    max-width: none;
    @include mq("lg") {
      width: 300px;
    }
    @include mq("pc") {
      width: 480px;
    }
  }
  @include mq("md") {
    top: 154px;
  }
}
.about__photo-l {
  position: absolute;
  right: 100%;
  transform: translateX(calc(-140px + 100%));
  z-index: -1;
  top: 427px;
  @include mq("pc") {
    transform: translateX(calc(-338px + 100%));
  }
  img {
    width: 200px;
    max-width: none;
    @include mq("lg") {
      width: 300px;
    }
    @include mq("pc") {
      width: 480px;
    }
  }
  @include mq("md") {
    top: 154px;
  }
}
.about__deco {
  @include mq("sp") {
    display: none;
  }
  @include mq("md") {
    display: block;
    position: absolute;
    top: 60px;
    left: -21px;
    z-index: -2;
    img {
      width: 150px;
      max-width: none;
      @include mq("lg") {
        width: 200px;
      }
      @include mq("pc") {
        width: 250px;
      }
    }
  }
}
.about__stairs {
  position: absolute;
  bottom: 10px;
  left: -55px;
  z-index: -2;
  @include mq("md") {
    left: -105px;
    bottom: 158px;
  }
  img {
    width: 216px;
    @include mq("md") {
      width: 300px;
    }
    @include mq("pc") {
      width: 427px;
    }
  }
}
.about__goods {
  position: absolute;
  width: 133px;
  left: 100%;
  bottom: 0;
  transform: translate(calc(-100% - 37px), calc(100% + 53.67px));
  z-index: -1;
  @include mq("lg") {
    width: 200px;
    transform: translate(calc(-100% - -258px), calc(100% + -79px));
  }
  @include mq("pc") {
    width: 308px;
  }
  img {
    width: inherit;
  }
}
.about__stone {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 48px;
  transform: translate(-100%, calc(100% + 11.67px));
  @include mq("lg") {
    width: 76px;
    transform: translate(81px, -127px);
  }
  @include mq("pc") {
    width: 101px;
  }
  img {
    width: inherit;
  }
}
.about__bg-wave1,
.about__bg-wave2 {
  position: absolute;
  display: none;
  width: 806.851px;
  max-width: none;
  left: 100%;
  z-index: -2;
  img {
    width: inherit;
  }
  @include mq("lg") {
    display: block;
  }
}
.about__bg-wave1 {
  transform: translateX(91.15px);
  bottom: 209px;
}
.about__bg-wave2 {
  transform: translateX(24px);
  bottom: 176px;
}
/* ===============================================
# how-to-enter
=============================================== */
.how-to-enter {
  padding-top: 32px;
  @include mq("md") {
    padding-top: 60px;
  }
}
.how-to-enter__inner {
  position: relative;
  overflow: clip;
  padding-inline: 20px;
  max-width: calc(100% + 20px * 2);
  @include mq("md") {
    max-width: calc(1440px + 20px * 2);
  }
}
.how-to-enter__box {
  padding-top: 34px;
  padding-bottom: 17px;
  position: relative;
  overflow: hidden;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    padding-top: 60px;
    max-width: calc(1024px + 30px * 2);
    padding-inline: 30px;
    padding-bottom: 4px;
  }
}
.how-to-enter__steps {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 32px;
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 38px;
  }
}
.how-to-enter__step {
  text-align: center;
  line-height: 160%;
  position: relative;

  padding-bottom: 12px;
  @include mq("md") {
    padding-bottom: 0;
  }
  & + & {
    &::after {
      width: 8px;
      height: 34px;
      content: "";
      background: url(../img/sp/img-step-line.png) no-repeat center center /
        contain;
      top: -34px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      @include mq("md") {
        display: none;
      }
    }
  }
  &:nth-child(2) {
    @include mq("md") {
      padding-top: 69px;
    }
    .how-to-enter__img {
      @include mq("md") {
        position: relative;
        &::after,
        &::before {
          position: absolute;
          content: "";
          width: 113px;
          height: 24px;
          background: url(../img/line-pc.png) no-repeat center center / contain;
          top: 50%;
          transform: translateY(-50%);
        }
        &::after {
          left: calc(50% + 102px);
        }
        &::before {
          left: -98px;
        }
      }
    }
  }
}
.how-to-enter__img {
  img {
    width: 196px;
    @include mq("md") {
      width: 280px;
    }
  }
}
.how-to-enter__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 22px;
  @include mq("md") {
    font-size: 20px;
    margin-top: 35px;
  }
}
.how-to-enter__text {
  margin-top: 18px;
  line-height: 1.6;
  a {
    text-decoration: underline;
  }
  @include mq("md") {
    font-size: 16px;
    margin-top: 18px;
  }
  span {
    font-weight: 700;
  }
}
.how-to-enter__link {
  margin-top: 16px;
  padding: 8px 12px;
  width: fit-content;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    margin-top: 17px;
  }
  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    display: inline-block;
    padding-left: 28px;
    position: relative;
    @include mq("md") {
      padding-left: 32px;
      font-size: 16px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/icon.png) no-repeat center center/contain;
      @include mq("md") {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.how-to-enter__button {
  text-align: center;
  a {
    font-size: 16px;
    font-weight: 700;
    @include mq("md") {
      font-size: 20px;
      padding: 10px 40px 12px 40px;
    }
  }
  @include mq("md") {
    margin-top: 46px;
  }
}
.how-to-enter__cat1 {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(calc(-50% + 111px));
  @include mq("md") {
    transform: translateX(calc(-50% + 200px));
  }
  @include mq("pc") {
    transform: translateX(calc(-50% + 406px));
  }
  img {
    width: 105px;
    @include mq("md") {
      width: 150px;
    }
    @include mq("pc") {
      width: 238px;
    }
  }
}
.how-to-enter__cat2 {
  position: absolute;
  left: 50%;
  top: 37px;
  max-width: none;
  transform: translateX(calc(-50% + 171.5px));
  @include mq("md") {
    transform: translateX(calc(-50% + 280.5px));
  }
  @include mq("pc") {
    top: 43px;
    transform: translateX(calc(-50% + 545px));
  }
  img {
    width: 94px;
    @include mq("md") {
      width: 140px;
    }
    @include mq("pc") {
      width: 214px;
    }
  }
}

.how-to-enter__map {
  position: absolute;
  right: 100%;
  top: 32px;
  width: 149px;
  transform: translateX(calc(100% - 20px));
  z-index: -1;
  @include mq("pc") {
    top: 0;
    transform: translateX(calc(100% + 20px));
  }
  img {
    width: inherit;
  }
  @include mq("md") {
    width: 300px;
  }
  @include mq("lg") {
    width: 460px;
  }
}
.how-to-enter__pawpads1 {
  position: absolute;
  top: 106px;
  z-index: -1;
  right: 20px;
  @include mq("pc") {
    top: 205px;
  }
  img {
    @include mq("md") {
      width: 60px;
    }
    @include mq("pc") {
      width: 100px;
    }
  }
}
.how-to-enter__pawpads-reverse {
  position: absolute;
  z-index: -1;
  left: 20px;
  bottom: 711px;
  @include mq("md") {
    bottom: 40px;
  }
  img {
    width: 55px;
    @include mq("md") {
      width: 60px;
    }
    @include mq("pc") {
      width: 100px;
    }
  }
}
.how-to-enter__pawpads-reverse2 {
  right: 20px;
  position: absolute;
  bottom: 381px;
  img {
    width: 55px;
  }
  @include mq("md") {
    display: none;
  }
}
/* ===============================================
# prize
=============================================== */
.prize {
  padding-top: 100px;
  @include mq("md") {
    padding-top: 0;
    margin-top: 120px;
  }
}
.prize__inner {
  @include mq("md") {
  }
}
.prize__outer {
  @include mq("md") {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 148px;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: calc(315 / 1024 * 100%);
      height: 86px;
      top: 28px;
    }
    &::before {
      left: 0;
      background: url(../img/prize-deco-left.png) no-repeat center
        center/contain;
    }
    &::after {
      right: 0;
      background: url(../img/prize-deco-right.png) no-repeat center
        center/contain;
    }
  }
}
.prize__box {
  background-color: #fff;
  border-radius: 24px;
  padding: 64px 20px 34px;
  position: relative;

  &::before {
    position: absolute;
    background: url(../img/sp/prize-sp_s-circle.png) no-repeat center center /
      contain;
    width: 237.6px;
    height: 83px;
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    transform: translate(-50%, -100%);
    @include mq("md") {
      width: 365.624px;
      height: 148.967px;
      background-image: url(../img/prize-pc_s-circle.png);
    }
  }
  @include mq("md") {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 68px 20px 53px;
    // padding-inline: 56px;
  }
  .section-heading {
    position: absolute;
    top: -63px;
    left: 50%;
    transform: translateX(-50%);
    @include mq("md") {
      top: -118px;
    }
  }
}
.prize__text {
  @include mq("md") {
    font-size: 16px;
    text-align: center;
  }
}
.prize__items {
  margin-top: 46px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 39px 15px;
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
    max-width: 912px;
    margin-left: auto;
    margin-right: auto;
    gap: 80px 15px;
    margin-top: 80px;
    justify-content: space-between;
  }
}
.prize-item {
  border-radius: 8px;
  position: relative;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: border 0.3s;
  img {
    width: 100%;
  }
  &:hover {
    border: 4px solid #9ed0e0;
    .prize-item__img {
      img {
        transform: scale(1.2);
      }
    }
    &::before {
      background-image: url(../img/triangle2.png);
      border-radius: 0;
    }
  }
  &::before {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 8px 0;
    content: "";
    bottom: 0;
    right: 0;
    background: url(../img/triangle1.png) no-repeat center center / contain;
  }
  &::after {
    position: absolute;
    right: 5.22px;
    bottom: 6.12px;
    width: 11.52px;
    height: 11.52px;
    content: "";
    background: url(../img/prizes-zoom-icon.png) no-repeat center center/contain;
  }
  &:nth-child(odd):last-child {
    @include mq("sp") {
      grid-column: 1 / -1;
      justify-self: center;
      width: 50%;
      margin-top: -5px;
    }
  }
  @include mq("md") {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      width: calc(50% - 15px * 1 / 2);
      width: max(440px);
      .prize-item__img {
        img {
          //   width: inherit;
        }
      }
      .prize-item__text {
        font-size: 20px;
      }
      .prize-item__body {
        height: 120px;
      }
      &::before {
        width: 100px;
        height: 100px;
      }
      &::after {
        width: 32px;
        height: 32px;
        bottom: 14px;
        right: 12.5px;
      }
    }
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      width: calc(33.3% - 15px * 2 / 3);
      width: max(280px);
      .prize-item__body {
        height: 80px;
      }
      .prize-item__img {
        // width: 100%;
        img {
          //   width: 280px;
        }
      }
      .prize-item__head {
        img {
          width: 80px;
        }
      }
      .prize-item__text {
        font-size: 16px;
      }
      &::before {
        width: 64px;
        height: 64px;
      }
      &::after {
        width: 20.48px;
        height: 20.48px;
        bottom: 8.96px;
        right: 8px;
      }
    }
  }
}
.prize-item__head {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  img {
    width: 48px;
    @include mq("md") {
      width: 100px;
    }
  }
}

.prize-item__img {
  overflow: hidden;
  img {
    border-radius: 8px 8px 0 0;
    height: auto;
    transition: transform 0.6s ease;
  }
}
.prize-item__body {
  // padding: 9px 10px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include mq("md") {
    padding: 32px 10px;
    // height: 120px;
  }
}
.prize-item__text {
  font-weight: 700;
}

.prize__button {
  text-align: center;
  margin-top: 14px;
  a {
    font-size: 16px;
    font-weight: 700;
  }
  @include mq("md") {
    margin-top: 40px;
    a {
      font-size: 20px;
      padding: 10px 40px 12px;
    }
  }
}
.prize-modal {
  border: none;
  inset: 0;
  border-radius: 24px;
  max-width: calc(100% - 20px * 2);
  padding: 0;
  height: 480px;
  &::backdrop {
    background-color: #111;
    opacity: 0.8;
  }
  @include mq("md") {
    max-width: 480px;
    height: 650px;
  }
}
.prize-modal__head {
  border-radius: 24px 24px 0 0;
}
.prize-modal__head-img {
  img {
    border-radius: 24px 24px 0 0;
    aspect-ratio: 336/210;
    width: 100%;
    @include mq("md") {
      aspect-ratio: 480/300;
    }
  }
}
.prize-modal__body {
  background: #fff;
  padding: 39px 20px 0;
  text-align: center;
  @include mq("md") {
    padding: 32px 30px 0;
  }
}
.prize-modal__body-title {
  font-weight: 700;
  font-size: 20px;
}
.prize-modal__body-text {
  margin-top: 12px;
  @include mq("md") {
    font-size: 16px;
  }
}
.prize-modal__button {
  text-align: center;
  margin-top: 16px;
  @include mq("md") {
    margin-top: 24px;
  }
  button {
    font-weight: 700;
  }
}

.prize-bg {
  overflow: hidden;
}

.prize__picture {
  margin-top: -40px;
  img {
    width: 580px;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @include mq("md") {
      width: 100%;
    }
  }
}

/* ===============================================
# spot
=============================================== */
.spot {
  background-color: $color-sub1;
  position: relative;
  padding-bottom: 20px;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 46px;
    top: 1px;
    left: 0;
    transform: translateY(-100%);
    background: url(../img/sp/wave-sp.png) repeat-x center center / contain;
    @include mq("md") {
      height: 120px;
      background-image: url(../img/wave-pc.png);
    }
  }
  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   height: 46px;
  //   bottom: -45px;
  //   width: 100%;
  //   background: url(../img/sp/wave-sp.png) repeat-x center center / contain;
  //   left: 0;
  //   transform: rotate(180deg);
  //   @include mq("md") {
  //     height: 120px;
  //     background-image: url(../img/wave-pc.png);
  //   }
  // }
}

.spot__wrapper {
  @include mq("md") {
    display: flex;
    gap: 32px;
    align-items: center;
    padding-left: max(30px, 50% - 512px);
  }
}
.spot__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  padding-left: 36px;
  position: relative;
  color: #fff;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    writing-mode: vertical-rl;
    padding: 0 3px;
    margin: 0;

    display: flex;
    font-size: 40px;
    align-items: center;
    padding-top: 64px;
    letter-spacing: 0.25em;
  }
  &::before {
    width: 28px;
    height: 28px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    position: absolute;
    margin-top: -3px;
    background: url(../img/spot-icon.png) no-repeat center center / contain;
    @include mq("md") {
      top: 0;
      left: 50%;
      transform: translate(-33%, 0);
      width: 56px;
      height: 56px;
    }
  }
}
.spot-swiper__wrap {
  margin-top: 21px;
  width: 100%;
  max-width: 100%;
  @include mq("md") {
    overflow: visible;
    position: relative;
    width: calc(100% - 56px - 32px);
    margin-top: 0;
  }
}
.spot-swiper__container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.spot-swiper__slide {
  width: auto !important;
  @include mq("md") {
  }
}

.spot-swiper__card {
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 402px;
  border-radius: 12px;
  overflow: hidden;
  @include mq("md") {
    height: 542px;
    width: 344px;
  }
  img {
    width: 100%;
    // height: 180px;

    @include mq("md") {
      aspect-ratio: 344/240;
      // height: 240px;
    }
  }
}
.spot-swiper__body {
  padding: 16px 24px 30px 24px;
  background-color: #fff;
  flex-grow: 1;
  @include mq("md") {
    padding: 24px 32px 40px;
  }
}
.spot-swiper__title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  @include mq("md") {
    font-size: 20px;
  }
}
.spot-swiper__text {
  margin-top: 16px;
  @include mq("md") {
    font-size: 16px;
    margin-top: 25px;
  }
}
.spot__arrows {
  position: absolute;
  left: -48px;
  bottom: -24px;
  right: 48px;
  z-index: 10;
}

.spot-swiper-btn-wrapper {
  max-width: 944px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spot-swiper-prev {
  @include mq("md") {
    width: 80px !important;
    height: 80px !important;
    background: url(../img/spot-prev.png) no-repeat center/contain;
    position: static !important;
  }
  svg {
    display: none;
  }
}
.spot-swiper-next {
  svg {
    display: none;
  }
  @include mq("md") {
    width: 80px !important;
    height: 80px !important;
    background: url(../img/spot-next.png) no-repeat center/contain;
    position: static !important;
  }
}
.spot__moji-wrapper {
  @include mq("pc") {
    display: flex;
    margin-top: 62px;
    max-width: calc(1024px + 20px * 2);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}
.spot__moji {
  text-align: center;
  img {
    width: 255px;
    @include mq("md") {
      width: 495px;
    }
  }
}
.spot__text {
  font-size: 11.444px;
  text-align: center;
  margin-top: 16px;
  color: #fff;
  @include mq("md") {
    margin-top: 0;
    font-size: 16px;
  }
}
.spot__button {
  text-align: center;
  margin-top: 21px;
  @include mq("md") {
    margin-top: 27px;
  }
  a {
    font-size: 16px;
    font-weight: 700;
    @include mq("md") {
      font-size: 20px;
      padding: 10px 40px 12px;
    }
  }
}
.spot__pawpads {
  position: absolute;
  bottom: 18px;
  left: 36px;
  @include mq("sp") {
    display: none;
  }
  img {
    width: 100px;
  }
}

/* ===============================================
# faq
=============================================== */
.faq {
  padding-top: 40px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 46px;
    top: -1px;
    width: 100%;
    background: url(../img/sp/wave-sp.png) repeat-x center center / contain;
    left: 0;
    transform: rotate(180deg);
    @include mq("md") {
      height: 120px;
      background-image: url(../img/wave-pc.png);
    }
  }

  @include mq("md") {
    padding-top: 120px;
  }
}
.faq__inner {
  padding-top: 44px;
  @include mq("md") {
    padding-top: 102px;
  }
}
.faq__boxes {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include mq("md") {
    gap: 24px;
    max-width: calc(1024px + 30px * 2);
    padding-inline: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}
.faq-box {
  border-radius: 12px;
  border: 2px solid #4a3636;
  overflow: hidden;
}
.faq-box-head {
  font-size: 24px;
  line-height: 125%;
  font-family: $font-family-en1;
  color: $color-main;
  @include mq("md") {
    font-size: 32px;
  }
}
.faq-box__q,
.faq-box__a-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  @include mq("md") {
    gap: 16px;
  }
}
.faq-box__q {
  padding: 11px 54px 10px 16px;
  text-align: left;
  width: 100%;
  background-color: #fff;
  @include mq("md") {
    padding: 26px 24px 22px 24px;
  }
}
.faq-box__q-text {
  font-size: 14px;
  font-weight: 700;
  @include mq("md") {
    font-size: 20px;
  }
}
.faq-box__a {
  padding: 16px 16px 12px;
  display: none;
  background-color: #f5f5f5;
  @include mq("md") {
    padding: 26px 24px 22px 24px;
  }
}
.faq-box__a-text {
  font-size: 14px;
  @include mq("md") {
    font-size: 16px;
  }
  a {
    text-decoration: underline;
  }
}

/* ===============================================
# entry-requirement
=============================================== */
.entry-requirement {
  margin-top: 30px;
  @include mq("md") {
    margin-top: 120px;
  }
}
.entry-requirement__box {
  border: 8px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 17px;
  padding-bottom: 24px;
  @include mq("md") {
    padding-bottom: 40px;
    padding-top: 35px;
    max-width: 1024px;
    padding-inline: 48px;
    margin-left: auto;
    margin-right: auto;
  }
}
.entry-requirement__list {
  margin-top: 24px;
  padding-inline: 15.5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include mq("md") {
    padding-inline: 0;
    margin-top: 40px;
  }
}
.entry-requirement__item {
  padding-bottom: 16px;
  position: relative;
  &:not(:last-child) {
    &::after {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ccc;
      content: "";
      bottom: 0;
    }
  }
  a {
    text-decoration: underline;
  }
  @include mq("md") {
    display: flex;
    padding-bottom: 13px;
  }
}
.entry-requirement__title {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  padding-left: 16px;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-main;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
  }
  @include mq("md") {
    padding-left: 32px;
    font-size: 16px;
    width: 240px;
    flex-shrink: 0;
    &::before {
      left: 16px;
      top: 6px;
      transform: translateY(0);
    }
  }
}
.entry-requirement__text {
  margin-top: 8px;
  font-family: $font-family-ja1;
  @include mq("md") {
    margin-top: 0;
    font-size: 16px;
  }
}
.entry-requirement__attention {
  position: relative;
  padding-left: 15px;
  &::before {
    position: absolute;
    top: 0;
    content: "・";
    left: 2px;
  }
  @include mq("md") {
    font-size: 16px;
    &::before {
      left: 0;
    }
  }
}
.entry-requirement__bg {
  margin-top: 52px;
  img {
    width: 100%;
    // aspect-ratio: 1512/400;
  }
  @include mq("md") {
    margin-top: 119px;
    img {
      aspect-ratio: 1512/400;
    }
  }
}

/* ===============================================
# contact
=============================================== */
.contact {
  background-color: #fff;
  padding-top: 46px;
  padding-bottom: 40px;
  @include mq("md") {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.contact__text {
  margin-top: 28px;
  text-align: center;
  @include mq("md") {
    font-size: 16px;
  }
}
.contact__form {
  margin-top: 20px;
  max-width: calc(100% - 20px * 2);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    margin-top: 40px;
    max-width: calc(848px + 20px * 2);
    padding-inline: 20px;
  }
}
.contact__fields {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include mq("md") {
    flex-direction: row;
  }
}
.form-field__head {
  display: flex;
  gap: 12px;
  align-items: center;
  @include mq("md") {
    width: 220px;
    flex-shrink: 0;
  }
}
.form-field__item {
  @include mq("md") {
    flex-grow: 1;
  }
}
.form-field__label {
  font-weight: 700;
  font-size: 14px;
  @include mq("md") {
    font-size: 16px;
  }
}
.form-field__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  background-color: $acc-color1;
  color: #fff;
  border-radius: 4px;
}
.form-text,
.form-email,
.form-select,
.form-textarea {
  padding: 16px;
  font-size: 14px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  width: 100%;
  outline: none;
  &:focus {
    border: 1px solid $color-main;
    background-color: $color-sub3;
  }
  &.is-error {
    background-color: #fff0f7;
    border: 1px solid $acc-color1;
  }
}
.form-email {
  font-family: $font-family-ja1;
}
.form-select {
  appearance: none;
  background: url(../img/select-check.png) no-repeat center right / 52px 55px
    #f5f5f5;
  &.is-error {
    background-image: url(../img/select-error.png);
  }
}
.form-field__radios {
  display: flex;
  gap: 24px;
  margin-top: 2px;
}
.form-field__radio {
  &:focus {
  }
}
.form-radio {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  &:checked {
    + .form-radio__text {
      &::after {
        opacity: 1;
      }
      &::before {
        border: 1px solid $color-main;
      }
    }
  }
}
.form-radio__text {
  padding-left: 32px;
  position: relative;
  font-size: 14px;
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  &::before {
    transition: border 0.3s;
    width: 24px;
    height: 24px;
    background-color: #f5f5f5;
    left: 0;
  }
  &::after {
    width: 12px;
    height: 12px;
    left: 6px;
    background-color: $color-main;
    opacity: 0;
  }
  &:hover {
    &::before {
      border: 1px solid $color-main;
    }
  }
}
.form-textarea {
  height: 160px;
}
.contact__privacy {
  margin-top: 24px;
  text-align: center;
  @include mq("md") {
    margin-top: 40px;
  }
}
.form-checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  &:checked {
    + .form-checkbox__text {
      &::after {
        opacity: 1;
      }
    }
  }
  &.is-error {
    + .form-checkbox__text {
      &::before {
        background-color: #fff0f7;
        border: 1px solid $acc-color1;
      }
    }
  }
}
.form-checkbox__text {
  padding-left: 36px;
  margin-top: 24px;
  font-size: 14px;
  position: relative;
  @include mq("md") {
    font-size: 16px;
  }
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #f5f5f5;
    left: 0;
  }
  &::after {
    width: 20px;
    height: 24px;
    left: 3px;
    background: url(../img/form-check.png) no-repeat center center/contain;
    opacity: 0;
  }
}

.form__submit {
  margin-top: 24px;
  text-align: center;
  button {
    font-size: 16px;
    font-weight: 700;
    width: 240px;
    height: 40px;
  }
  @include mq("md") {
    margin-top: 40px;
    button {
      font-size: 16px;
    }
  }
}

/* ===============================================
# access
=============================================== */
.access {
  padding-top: 40px;
  @include mq("md") {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.access__text {
  text-align: center;
  font-size: 20px;
  line-height: 125%;
  @include mq("md") {
    font-size: 24px;
  }
}
.access__sns-list {
  margin-top: 24px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.access__sns-item {
}
.access__sns-link {
  img {
    width: 32px;
    @include mq("md") {
      width: 40px;
    }
  }
}
.access__onomichi {
  margin-top: 15px;
  text-align: center;
  @include mq("md") {
    margin-top: 41px;
  }
  img {
    width: 328px;
    @include mq("md") {
      width: 755px;
    }
  }
}
.access__info-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  @include mq("md") {
    flex-direction: row-reverse;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    max-width: 100%;
  }
}
.access__map {
  text-align: center;
  @include mq("md") {
    width: 50%;
  }
  iframe {
    width: 100%;
    border-radius: 16px 16px 0 0;
    max-width: 335px;
    height: 100%;
    aspect-ratio: 335/271;
    @include mq("md") {
      max-width: 512px;
      //   height: auto;
      aspect-ratio: 512/400;
      border-radius: 0 16px 16px 0;
    }
  }
}
.access__info {
  padding: 16px 28px;
  @include mq("md") {
    width: 50%;
  }
}
.access__text-wrapper {
  @include mq("md") {
    max-width: 394px;
    margin-left: auto;
    margin-right: auto;
  }
}
.access__logo {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
  img {
    width: 153px;
    @include mq("md") {
      width: 183px;
    }
  }
}
.access__corp-info {
  margin-top: 31px;
}
.access__corp-wrapper {
  display: flex;
  &:not(:first-child) {
    margin-top: 8px;
  }
  dt {
    font-weight: 700;
    position: relative;
    padding-left: 16px;
    width: 80px;
    flex-shrink: 0;
    &::before {
      position: absolute;
      content: "";
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: $color-main;
    }
  }
  dd {
  }
}

.page-top {
  padding: 33px 20px 24px;
  text-align: center;
  @include mq("md") {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
    padding: 0;
  }
}

/* ===============================================
# footer
=============================================== */
.footer {
  background-color: $color-sub1;
  position: relative;
  margin-top: 45px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 46px;
    background: url(../img/sp/wave-sp.png) repeat-x center center / contain;
    top: 2px;
    left: 0;
    transform: translateY(-100%);
    @include mq("md") {
      height: 120px;
      background-image: url(../img/wave-pc.png);
    }
  }
}
.footer__copyright {
  text-align: center;
  small {
    font-size: 10px;
    color: #fff;
    @include mq("md") {
      font-size: 14px;
    }
  }
}
